h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: unset !important;
  text-decoration: none;
}

html {
  margin: 0;
}

.search {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: color;
}

.search input {
  width: 80%;
  max-width: 575px;
  margin: 10px auto;
  border: none;
  font-size: 15px;
  height: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
}

.search input:focus {
  outline: none;
  background: white;
}

.searhresult {
  width: 100%;
  margin: 10px auto;
  max-width: 575px;
  text-align: left;
  display: flex;
}

.searhresult p {
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  color: white;
  border: 1px solid white;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #bcfefe;
  cursor: pointer;
}

.searhresult p:hover {
  color: #001c44;
  background-color: #bcfefe;
}

.configIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.3;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.configIcon img {
  width: 75%;
  margin: auto;
}

.configIcon:hover {
  opacity: 0.7;
  transform: scale(1.5);
}

.configIcon:active {
  opacity: 1;
}

.menu {
  top: 100px;
}

.menu .menuicon {
  width: 70%;
  height: 3px;
  background-color: black;
  margin: 1px auto;
}

.loginbox {
  width: 0vw;
  max-width: 375px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
  overflow: hidden;
}

.loginbox img {
  width: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.loginbox img:hover {
  transform: scale(1.1);
}

.loginbox .box {
  width: 300px;
  height: max-content;
  background-color: #2d99ae;
  text-align: center;
  border-radius: 30px;
  padding: 50px 0;
  margin: auto;
  box-shadow: 1px 1px 3px grey;
}

.loginbox .box h1 {
  margin: 20px 0;
  color: white;
}

.loginbox .box input {
  font-size: 15px;
  margin: 10px 0;
  height: 25px;
  border: none;
  padding: 5px 10px;
}

.loginbox .box input:focus {
  outline: none;
}

.loginbox .box .button {
  margin: 20px auto;
  box-shadow: 1px 1px 3px grey;
  width: max-content;
  padding: 5px 10px;
  background-color: #001c44;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginbox .box .button:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.loginbox .box .link {
  font-size: small;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.loginbox .box .link:hover {
  color: #0c5776;
}

.loginbox .box .alert {
  font-size: x-small;
  color: #bcfefe;
}

.loginbox .box .big {
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
}

.loginbox .box .orderbox {
  display: flex;
  width: max-content;
  margin: auto;
}

.resetPassword {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.resetPassword .box {
  width: 80%;
  max-width: 768px;
  background-color: #f8dad0;
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resetPassword .box input {
  width: 80%;
  max-width: 375px;
  margin: 10px auto;
  height: 25px;
  border: none;
}

.resetPassword .box input:focus {
  outline: none;
}

.resetPassword .box .button {
  margin: 20px auto;
  box-shadow: 1px 1px 3px grey;
  width: max-content;
  padding: 5px 10px;
  background-color: #001c44;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.resetPassword .box .button:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.iconProfile {
  top: 100px;
}

.iconProfile .list {
  position: absolute;
}

.ok {
  top: 150px;
}

.header {
  background-color: white;
  height: 50px;
  color: black;
  display: flex;
  position: relative;
  box-shadow: 1px 1px 10px lightgrey;
}

.header .iconMenu {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.header .iconMenu .menu {
  width: 25px;
  height: 3px;
  background-color: #001c44;
  margin: 5px auto;
  cursor: pointer;
}

.header .iconMenu:hover {
  background-color: #f8dad0;
}

.header .iconProfile {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.header .iconProfile img {
  width: 100%;
  margin: auto;
}

.header .iconProfile:hover {
  transform: scale(1.2);
  border: 1px solid;
}

.header .one {
  right: 50px;
}

.header .listProfile {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 150px;
  z-index: 5;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
}

.header .listProfile p {
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-top: 1px solid #2d99ae;
  color: #2d99ae;
}

.header .listProfile p:nth-child(1) {
  border-top: none;
}

.header .listProfile p:hover {
  background-color: #2d99ae;
  color: white;
}

.YNModal {
  position: fixed;
  z-index: 8;
  width: 100%;
  background-color: #0c5776;
  display: flex;
  overflow: hidden;
  height: 0;
  transition: all 0.2s;
}

.YNModal p {
  width: max-content;
  margin: auto;
  padding: 2px 20px;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  color: #001c44;
  cursor: pointer;
  box-shadow: 1px 1px 5px #bcfefe;
}

.YNModal P:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.YNModal p:nth-child(1) {
  margin-right: 10px;
}

.YNModal p:nth-child(3) {
  margin-left: 10px;
}

.YNModal .text {
  margin: 0;
  padding: 0;
  color: white;
  background-color: transparent;
  box-shadow: none;
  line-height: 40px;
  margin: 0 10px;
  font-weight: normal;
}

.main {
  display: flex;
  position: relative;
}

.main .sidebar {
  width: 0px;
  background-color: #001c44;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0px;
  transition: all 0.5s;
  z-index: 10;
}

.main .sidebar .titlePage {
  text-align: center;
  font-size: 20px;
  height: 50px;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  color: white;
  line-height: 50px;
}

.main .sidebar .titlePage p {
  width: 95%;
  border-radius: 10px;
  margin: auto;
}

.main .sidebar .titlePage:hover p {
  background-color: rgba(255, 255, 255, 0.3);
}

.main .content {
  width: 100%;
}

.Profile .cover {
  position: relative;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Profile .cover .Avatar {
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.Profile .cover .Avatar .Picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid grey;
  overflow: hidden;
  margin: auto;
  position: relative;
  background-color: white;
}

.Profile .cover .Avatar .Picture img {
  width: 100%;
}

.Profile .cover .Avatar .Picture .config {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 10%;
  right: 10%;
  background-color: white;
  border: 1px solid whitesmoke;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s;
}

.Profile .cover .Avatar .Picture .config:hover {
  opacity: 1;
}

.Profile .cover .Avatar .Picture .config:active {
  transform: scale(1.1);
}

.Profile .cover .Avatar .Title {
  text-align: center;
  color: white;
}

.Profile .cover .Avatar .updateBox {
  position: absolute;
  bottom: 40px;
  left: calc(50vw + 50px);
  width: max-content;
  background-color: white;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.2s;
}

.Profile .cover .Avatar .updateBox p {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.Profile .cover .Avatar .updateBox p:hover {
  color: #0c5776;
}

.Profile .cover .Avatar .updateBox p:active {
  background-color: #bcfefe;
}

.Todo {
  width: 90%;
  margin: 50px auto;
  max-width: 768px;
  text-align: center;
}

.Todo h1 {
  color: #001c44;
  text-align: center;
  border-bottom: 2px solid #001c44;
}

.Todo #newtodo {
  width: 80%;
  margin: 20px auto 0;
  height: 30px;
  font-size: 20px;
  border: none;
  padding: 5px 0;
}

.Todo #newtodo:focus {
  outline: none;
  border-bottom: 1px solid #001c44;
  color: #001c44;
}

.Todo .todotable {
  margin: 25px auto;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}

.Todo .todotable tr th {
  padding: 15px;
}

.Todo .todotable tr td {
  padding: 10px;
  color: #0c5776;
  font-size: 15px;
}

.Todo .todotable tr .col1 {
  width: 10%;
}

.Todo .todotable tr .col1 img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.Todo .todotable tr .col2 {
  width: 50%;
  position: relative;
}

.Todo .todotable tr .col2 span {
  position: absolute;
  width: 50px;
  height: 25px;
  right: 0;
  top: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: whitesmoke;
  transition: all 0.2s;
  opacity: 0.5;
}

.Todo .todotable tr .col2 span img {
  width: 15px;
  height: 15px;
  margin: auto;
}

.Todo .todotable tr .col2 span img:hover {
  transform: scale(1.3);
}

.Todo .todotable tr .col2 span img:active {
  opacity: 1;
}

.Todo .todotable tr .col3 p {
  color: green;
}

.Todo .todotable tr .col3 .buttonDone {
  color: darkorange;
}

.Todo .todotable tr:nth-child(1) {
  border-top: 1px solid #2d99ae;
  border-bottom: 1px solid #2d99ae;
}

.calculator {
  width: 90%;
  margin: 50px auto;
  max-width: 575px;
}

.calculator .screen {
  width: 80%;
  margin: auto;
}

.calculator .screen h1 {
  text-align: right;
  height: 30px;
  line-height: 30px;
  background-color: whitesmoke;
  padding: 5px;
}

.calculator .buttons {
  width: 80%;
  margin: 50px auto;
}

.calculator .buttons .buttonrow {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.calculator .buttons .buttonrow p {
  width: 25%;
  height: 50px;
  border: 1px solid #0c5776;
  text-align: center;
  line-height: 50px;
  margin: 1px;
  cursor: pointer;
}

.calculator .buttons .buttonrow p:active {
  background-color: #001c44;
  color: white;
}

.Shop .leftList .brand {
  display: flex;
}

.Shop .leftList .brand .brandlogo {
  width: 30%;
  box-sizing: border-box;
  border: 1px solid #001c44;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Shop .leftList .brand .brandlogo img {
  width: 100%;
}

.Shop .RightContent .BrandPage .BrandInfor img {
  width: 100%;
}

.AdminPage .AdminPageRow {
  display: flex;
}

.AdminPage .AdminPageCol {
  width: 100%;
}

.AdminPage .AdminPageCol:nth-child(1) {
  width: 30%;
  max-width: 200px;
  text-align: center;
  height: 100vh;
  position: sticky;
  background-color: whitesmoke;
}

.AdminPage .AdminPageCol:nth-child(1) .adminProfile {
  width: 80%;
  margin: auto;
  text-align: center;
  border-bottom: 5px dotted #001c44;
}

.AdminPage .AdminPageCol:nth-child(1) .adminProfile img {
  width: 90%;
  border-radius: 50%;
  border: 3px solid grey;
  overflow: hidden;
}

.AdminPage .AdminPageCol:nth-child(1) .adminProfile h4 {
  padding: 10px;
  color: #0c5776;
  margin: 5px auto;
}

.AdminPage .AdminPageCol:nth-child(1) .adminProfile h4:hover {
  background-color: #001c44;
  color: white;
  border-radius: 10px;
}

.AdminPage .AdminPageCol:nth-child(1) .adminProfile h4 {
  color: #0c5776;
}

.AdminPage .AdminPageCol:nth-child(1) p {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  width: 80%;
  margin: 5px auto;
}

.AdminPage .AdminPageCol:nth-child(1) p:hover {
  background-color: #001c44;
  color: white;
  border-radius: 10px;
}

.manager {
  width: 100%;
  margin: auto;
  text-align: center;
}

.manager .newbrandbutton {
  width: max-content;
  padding: 5px 10px;
  background-color: white;
  box-shadow: 1px 1px 3px grey;
  margin: 20px auto;
  cursor: pointer;
}

.manager .deleteAll {
  width: 30px;
  height: 30px;
}

.manager .newbrandbutton:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.manager .item {
  width: 80%;
  height: 50px;
  margin: 10px auto;
  text-align: left;
  font-weight: bold;
  border: 1px solid grey;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 50px;
}

.manager .item .inputcheck {
  margin: auto 10px;
  width: 20px;
}

.manager .item .inputtext {
  margin: auto;
  height: 20px;
  width: 70%;
}

.manager .item .brandname {
  width: 70%;
  margin: auto;
}

.manager .item img {
  width: 30px;
  height: 30px;
  margin: auto 5px;
  cursor: pointer;
}

.manager .item img:hover {
  transform: scale(1.2);
}

.manager .item .picturebutton {
  font-size: 12px;
  cursor: pointer;
  margin: auto 5px;
  font-weight: normal;
  transition: all 0.5s;
  width: 30px;
  text-align: center;
}

.manager .item .picturebutton:hover {
  color: red;
  transform: scale(1.2);
}

@media (min-width: 575px) {
  .Profile .cover .Avatar {
    width: 100%;
    max-width: 768px;
    display: flex;
  }
  .Profile .cover .Avatar .Picture {
    margin: 0;
  }
  .Profile .cover .Avatar .Title {
    width: max-content;
    margin: auto 5%;
    text-align: left;
  }
  .Profile .cover .Avatar .updateBox {
    bottom: -20px;
    left: 120px;
  }
  .Shop .leftList .brand .brandlogo {
    width: 15%;
    margin: 10px;
  }
}
