h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

a {
    color: unset !important;
    text-decoration: none;
}

html {
    margin: 0;
}

$color1: #f8dad0;
$color2: #bcfefe;
$color3: #2d99ae;
$color4: #0c5776;
$color5: #001c44;

.search {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: color;

    input {
        width: 80%;
        max-width: 575px;
        margin: 10px auto;
        border: none;
        font-size: 15px;
        height: 20px;
        border-radius: 20px;
        padding: 10px 20px;
        background: rgba($color: white, $alpha: 0.8);
    }

    input:focus {
        outline: none;
        background: white;
    }
}

.searhresult {

    width: 100%;
    margin: 10px auto;
    max-width: 575px;
    text-align: left;
    display: flex;

    p {
        line-height: 30px;
        padding: 0 10px;
        text-align: center;
        color: white;
        border: 1px solid white;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px $color2;
        cursor: pointer;
    }

    p:hover {
        color: $color5;
        background-color: $color2;

    }
}

.configIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.3;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;

    img {
        width: 75%;
        margin: auto;
    }
}

.configIcon:hover {
    opacity: 0.7;
    transform: scale(1.5);
}

.configIcon:active {
    opacity: 1;
}

.menu {
    top: 100px;

    .menuicon {
        width: 70%;
        height: 3px;
        background-color: black;
        margin: 1px auto;
    }
}

.loginbox {
    width: 0vw;
    max-width: 375px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;
    overflow: hidden;

    img {
        width: 25px;
        position: absolute;
        top: 5px;
        left: 5px;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.1);
    }

    .box {
        width: 300px;
        height: max-content;
        background-color: $color3;
        text-align: center;
        border-radius: 30px;
        padding: 50px 0;
        margin: auto;
        box-shadow: 1px 1px 3px grey;

        h1 {
            margin: 20px 0;
            color: white;
        }

        input {
            font-size: 15px;
            margin: 10px 0;
            height: 25px;
            border: none;
            // border-bottom: 1px solid grey;
            padding: 5px 10px;
        }

        input:focus {
            outline: none;
        }

        .button {
            margin: 20px auto;
            box-shadow: 1px 1px 3px grey;
            width: max-content;
            padding: 5px 10px;
            background-color: $color5;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        .button:active {
            transform: translate(1px, 1px);
            box-shadow: none;
        }

        .link {
            font-size: small;
            color: white;
            margin: 5px;
            cursor: pointer;
        }

        .link:hover {
            color: $color4
        }

        .alert {
            font-size: x-small;
            color: $color2;
        }

        .big {
            font-size: large;
            font-weight: bold;
            margin-top: 20px;
        }

        .orderbox {
            display: flex;
            width: max-content;
            margin: auto;
        }
    }
}

.resetPassword {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .box {
        width: 80%;
        max-width: 768px;
        background-color: $color1;
        margin: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            width: 80%;
            max-width: 375px;
            margin: 10px auto;
            height: 25px;
            border: none;
        }

        input:focus {
            outline: none;
        }

        .button {
            margin: 20px auto;
            box-shadow: 1px 1px 3px grey;
            width: max-content;
            padding: 5px 10px;
            background-color: $color5;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        .button:active {
            transform: translate(1px, 1px);
            box-shadow: none;
        }
    }
}

.iconProfile {
    top: 100px;

    .list {
        position: absolute;
    }
}

.ok {
    top: 150px;
}

.header {
    background-color: white;
    height: 50px;
    color: black;
    display: flex;
    position: relative;
    box-shadow: 1px 1px 10px lightgrey;

    .iconMenu {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        left: 10px;
        cursor: pointer;

        .menu {
            width: 25px;
            height: 3px;
            background-color: $color5;
            margin: 5px auto;
            cursor: pointer;
        }
    }

    .iconMenu:hover {
        background-color: $color1;
    }

    .iconProfile {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;

        img {
            width: 100%;
            margin: auto;
        }
    }

    .iconProfile:hover {
        transform: scale(1.2);
        border: 1px solid;
    }

    .one {
        right: 50px;
    }


    .listProfile {
        position: absolute;
        right: 10px;
        top: 30px;
        width: 150px;
        z-index: 5;
        background-color: white;
        height: 0;
        overflow: hidden;
        transition: all 0.2s;
        box-shadow: 1px 1px 10px grey;
        border-radius: 10px;


        p {
            padding: 15px 0;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            border-top: 1px solid $color3;
            color: $color3;
        }

        p:nth-child(1) {
            border-top: none;
        }

        p:hover {
            background-color: $color3;
            color: white;
        }
    }
}

.YNModal {
    position: fixed;
    z-index: 8;
    width: 100%;
    background-color: $color4;
    display: flex;
    overflow: hidden;
    height: 0;
    transition: all 0.2s;

    p {
        width: max-content;
        margin: auto;
        padding: 2px 20px;
        background-color: white;
        font-size: 15px;
        font-weight: bold;
        color: $color5;
        cursor: pointer;
        box-shadow: 1px 1px 5px $color2;
    }

    P:active {
        transform: translate(1px, 1px);
        box-shadow: none;
    }

    p:nth-child(1) {
        margin-right: 10px;
    }

    p:nth-child(3) {
        margin-left: 10px;
    }

    .text {
        margin: 0;
        padding: 0;
        color: white;
        background-color: transparent;
        box-shadow: none;
        line-height: 40px;
        margin: 0 10px;
        font-weight: normal;
    }
}

.main {
    display: flex;
    position: relative;

    .sidebar {
        width: 0px;
        background-color: $color5;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0px;
        transition: all 0.5s;
        z-index: 10;

        .titlePage {
            text-align: center;
            font-size: 20px;
            height: 50px;
            width: 100%;
            padding: 5px 0;
            cursor: pointer;
            color: white;
            line-height: 50px;

            p {
                width: 95%;
                border-radius: 10px;
                margin: auto;
            }
        }

        .titlePage:hover {
            p {
                background-color: rgba($color: white, $alpha: 0.3);
            }
        }



    }

    .content {
        width: 100%;

    }
}

//profile page
.Profile {
    .cover {
        position: relative;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .Avatar {
            width: 100%;
            position: absolute;
            bottom: 50px;

            .Picture {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 1px solid grey;
                overflow: hidden;
                margin: auto;
                position: relative;
                background-color: white;


                img {
                    width: 100%;
                }

                .config {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    bottom: 10%;
                    right: 10%;
                    background-color: white;
                    border: 1px solid whitesmoke;
                    opacity: 0.3;
                    cursor: pointer;
                    transition: all 0.2s;
                }

                .config:hover {
                    opacity: 1
                }

                .config:active {
                    transform: scale(1.1);
                }
            }

            .Title {
                text-align: center;
                color: white;
            }

            .updateBox {
                position: absolute;
                bottom: 40px;
                left: calc(50vw + 50px);
                width: max-content;
                background-color: white;
                border-radius: 5px;
                opacity: 0;
                transition: all 0.2s;

                p {
                    padding: 5px 10px;
                    font-size: 12px;
                    cursor: pointer;
                    border-radius: 5px;
                }

                p:hover {
                    color: $color4;
                }

                p:active {
                    background-color: $color2;
                }
            }
        }
    }
}

.Todo {
    width: 90%;
    margin: 50px auto;
    max-width: 768px;
    text-align: center;

    h1 {
        color: $color5;
        text-align: center;
        border-bottom: 2px solid $color5;
    }

    #newtodo {
        width: 80%;
        margin: 20px auto 0;
        height: 30px;
        font-size: 20px;
        border: none;
        padding: 5px 0;
    }

    #newtodo:focus {
        outline: none;
        border-bottom: 1px solid $color5;
        color: $color5;
    }

    .todotable {
        margin: 25px auto;
        width: 90%;
        border-collapse: collapse;
        text-align: center;

        tr {

            th {
                padding: 15px;
            }

            td {
                padding: 10px;
                color: $color4;
                font-size: 15px;
            }

            .col1 {
                width: 10%;

                img {
                    width: 30px;
                    height: 30px;
                    margin: auto;
                }
            }

            .col2 {
                width: 50%;
                position: relative;

                span {
                    position: absolute;
                    width: 50px;
                    height: 25px;
                    right: 0;
                    top: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: whitesmoke;
                    transition: all 0.2s;
                    opacity: 0.5;

                    img {
                        width: 15px;
                        height: 15px;
                        margin: auto;
                    }

                    img:hover {
                        transform: scale(1.3);
                    }

                    img:active {
                        opacity: 1;
                    }
                }

            }

            .col3 {
                p {
                    color: green;
                }

                .buttonDone {
                    color: darkorange;
                }
            }

        }

        tr:nth-child(1) {
            border-top: 1px solid $color3;
            border-bottom: 1px solid $color3;
        }

    }
}

.calculator {
    width: 90%;
    margin: 50px auto;
    max-width: 575px;

    .screen {
        width: 80%;

        margin: auto;

        h1 {
            text-align: right;
            height: 30px;
            line-height: 30px;
            background-color: whitesmoke;
            padding: 5px;
        }
    }

    .buttons {
        width: 80%;
        margin: 50px auto;


        .buttonrow {
            display: flex;
            width: 100%;
            box-sizing: border-box;

            p {
                width: 25%;
                height: 50px;
                border: 1px solid $color4;
                text-align: center;
                line-height: 50px;
                margin: 1px;
                cursor: pointer;
            }

            p:active {
                background-color: $color5;
                color: white;
            }

        }

    }
}

@media (min-width:575px) {
    .Profile {
        .cover {
            .Avatar {
                width: 100%;
                max-width: 768px;
                display: flex;

                .Picture {
                    margin: 0;
                }

                .Title {
                    width: max-content;
                    margin: auto 5%;
                    text-align: left;
                }

                .updateBox {
                    bottom: -20px;
                    left: 120px;

                }
            }

        }

    }
}